body{
    margin: 0;
    padding: 0;
}
.main{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
    color: chartreuse;
}
.Timer{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 50px white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: yellowgreen;
    color: chocolate;
}
.start_button{
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50px;
    color: black;
    padding: 20px;
    margin: 20px;
}
.stop_button{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50px;
    color: black;
    padding: 20px;
    margin: 20px;
}
.reset_button{
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 50px;
    color: black;
    padding: 20px;
    margin: 20px;
}
.change_button{
    width: 100px;
    height: 100px;
    background-color: aqua;
    border-radius: 50px;
    color: black;
    padding: 20px;
    margin: 20px;
}
